.container {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.header {
  background: black;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px 15px 0 0;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.refresh {
  background: rgba(115,187,217,1);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  display: none;
}

.refresh:hover {
  background: rgba(115,187,217,.8);
}

.suggestions {
  background: white;
  border-radius: 0 0 15px 15px;
  min-height: 22rem;
}

.header:hover .refresh {
  display: block;
}
