.suggestion {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.picture {
  margin-right: 1rem;
}
.image {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}
.at {
  font-weight: bold;
  cursor: default;
}
.links {
  display: none;
  margin-left: auto;
  text-align: right;
}

.link {
  background: rgba(115,187,217,1);
  padding: .5rem 1rem;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  margin: 0 .5rem;
}
.suggestion:hover .links {
  display: flex;
}